@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-height: 0;
  min-width: 0;
}

html, body, #root {
  height: 100%;
}

.default-hover-5 {
  @apply transition-colors duration-200 hover:bg-white/5;
}

.default-hover-10 {
  @apply transition-colors duration-200 hover:bg-white/10;
}

.default-hover-20 {
  @apply transition-colors duration-200 hover:bg-white/20;
}